footer.content-footer {
  background: $color-dark;
  #{$start-direction}: 0;
  padding-top: 100px;
  padding-bottom: 30px;
  padding-#{$start-direction}: 0;
  padding-#{$end-direction}: 20px;

  .footer-item.footer-logo {
    a {
      &::before {
        display: none;
      }
    }
  }

  .footer-social {
    position: relative !important;

    ul {
      display: flex;
      flex-direction: row;
      padding-left: 0;
      li {
        width: fit-content;

        &:not(:last-child) {
          margin-#{$end-direction}: 8px;
        }
      }
    }
  }
}

@include media-breakpoint-md {
  footer.content-footer {
    .footer-social {
      margin-top: 20px;
    }
  }
}
